*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    scroll-padding-top: 100px;

}
body{
    font-family: "Orbitron", sans-serif;
     background: #288ab0;
     padding-top: 80px;
     overflow-x: hidden;
     background: radial-gradient(
  circle at center,
  #288daf 0%,
  #185468 25%,
  #0e323e 50%,
  #051115 75%,
  #000000 100%
);
}


.navbar{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 40px;
    
}
.navbar.active{
    background-color: #051115;
    transition: background-color 0.3s ease;
    border-bottom: #288ab0 2px solid;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.holo{
    width: auto;
    height: 70px;
    margin-right: 20px;
    animation: rotateY 3s linear infinite;
}
@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
a{
    font-style: initial;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}
a:hover{
    color: #2bcde2;
}


.menu-btn{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Main Section */
.main{
    display: flex;
    margin-top: 30px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.robot-img{
    width: 450px;
    height: auto;
    margin-top: 50px;
}
.words{
    margin-bottom: 100px;
    min-height: 300px;
    width: 450px;

}
.text {
    margin-bottom: 15px; 
}

 p{
    font-family: "Poppins", sans-serif;
}



h1{
    color: #2bcde2;
    font-size: 70px;
}
.main-btn{

    margin-top: 20px;
     width: 150px;
    padding: 10px 20px;
    background-color: #042129;
    color: white;
    border-style: solid;
    border-color: #2EDAF1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.main-btn:hover{
    background-color: #2bcde2;
    color: #042129;
}
/* about us - section 2 */

.about {
    width: 100%;
    height: auto;
    padding: 60px 20px;
    color: white;
    background-color: #021018;
    justify-items: center;
}
 .container {
    display: flex;
    align-items: center;
    gap: 20px;; 
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}


.image-box img {
    width: 620px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 30px;

}


.small-title {
    color: #14d8ff;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 15px;
}

.main-title span {
    color: #00eaff;
}

.main-text {
    color: #ccc;
    font-size: 16px;
    margin-bottom: 25px;
}


.info-section {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 15px;
}


.icon {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.icon:hover {
    background: #09f7fb;
    transform: translateY(-8px);
}

.text h2 {
    font-size: 20px;
    color: #09d2e9;
    margin-bottom: 5px;
}

.text p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.4;
}
@media (max-width: 1200px) {
    .about .container {
        gap: 15px; 
    }
    
    .image-box img {
        width: 500px;
        height: 350px;
    }
}

@media (max-width: 900px) {
    .about .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .box2{
        margin-left: 10px;
    }

    
    .image-box img {
        width: 90%;
        height: auto;
        max-width: 500px;
    }
    
    .content-box {
        text-align: center;
        width: 100%;
    }
    
    .main-text {
        text-align: center;
        margin: 0 auto 15px;
    }
    
    .info-box {
        justify-content: center;
        text-align: left;
    }

}

@media (max-width: 1200px) {
    .about .container {
        gap: 15px;
    }

    .image-box img {
        width: 500px;
        height: 350px;
    }

    .main-title {
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .about .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

    .image-box img {
        width: 85%;
        height: auto;
        max-width: 450px;
        margin-bottom: 20px;
    }

    .content-box {
        width: 100%;
        text-align: center;
    }

    .main-title {
        font-size: 28px;
    }

    .main-text {
        max-width: 600px;
        margin: 0 auto 15px;
    }

    .info-box {
        justify-content: center;
        text-align: left;
        width: 100%;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .text h2 {
        font-size: 18px;
    }

    .text p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .image-box img {
        width: 90%;
        max-width: 380px;
    }

    .main-title {
        font-size: 25px;
    }

    .main-text {
        font-size: 15px;
    }

    .icon {
        width: 55px;
        height: 55px;
    }

    .info-box {
        gap: 10px;
    }
}

/* Section 3 - Our Value */
.our-value{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    color :#2BCDE2;
    background: #288ab0;
    background: linear-gradient(250deg, rgba(40, 138, 176, 0.71) 13%, rgba(0, 0, 0, 0.71) 100%);

}
.why_us{
    margin-bottom: 40px;
    font-size: 38px;
}
.value-img{
    width: 500px;
    height: auto;
    padding: 0 !important;
    margin-top: -24px;
}
.numbers{
    display: flex;
    margin-top: 20px;
    gap: 30px;
    color: white;
    align-items: start;
    
}
.number1,.number2{
    width: 210px;
    height: 120px;
    border: 2px solid #2BCDE2;
    display: grid;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}
/* Responsive Design */


/* Responsive Design -section 3 */
@media (max-width: 1390px) {

    .our-value{
    min-height: 508px;
    padding: 0px 60px;
   }
   .value-img{
    margin-top: -18px;
   }
   .words_value{
    width: 350px;
   }
   .numbers{
    gap: 10px;
    width: 90%;
   }
   .text1{
    font-size: 14px;
   }
   .words_value p{
    font-size: 16px;
   }
   .words_value h2{
    font-size: 28px;
   }
   

}

/* Responsive Design -section 1&3 */
@media (max-width: 930px) {
    
    .robot-img, .words{
        width: 95%;
        height: auto;
        margin-bottom: 10px;
       
}
.main-para{
    font-size: 17px;
}
.words h1{
    font-size: 40px;
}
.our-value{
    min-height: auto;
    padding-left: 0px;
   }
.value-img{
    width: 100%;
    height: auto;
   margin-top:-25px;
   padding-right: 0px;
   }
   .words_value{
    height: auto;
    width: 370px;
    padding-left: 50px;
   }
  

}
/* Navbar Responsive */
@media (max-width: 840px) {
    a{
        font-size: 16px;
    }
    .logo{
        width: 150px;
    }

}
    /* Navbar Responsive */
@media (max-width : 772px) {
   .nav-links{
        position: fixed;
        top: 0;
        right: -200px;   
        width: 200px;
        height: 100%;
        background: #134252;
        flex-direction: column;
        padding-top: 80px;
        gap: 30px;
        transition: 0.3s ease;
    }
     .nav-links.active{
        right: 0;   
    }
    .holo{
       display: none;
    }
    .navbar{
        justify-content: space-evenly;
    }
    .menu-btn{
        display: block;
    }
   .menu-btn{
    display: block;
    font-size: 30px;
    width: 30px;
    cursor: pointer;
}

/* Responsive Design -section 1&3*/

.main{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .robot-img, .words{
        width: 70%;
        height: auto;
        margin-bottom: 0px;
    }
    .robot-img{
        width: 450px;
    }
    h1{
        font-size: 40px;
    }

    .our-value{
        
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 0px !important;
       }
    .value-img{
    display: block;
    margin: 20px auto 0;
    max-width: 90%;
}
    .words_value{
        width: 90%;
        display: block;
        text-align: center;
        justify-content: center;
        margin-top: 20px;

       }

       .numbers{
        justify-content: center;
         gap: 20px;
         padding-left: 0 ;
       }
    

}


/* applications && footer */

.services {
    background-color: #021018;
    text-align: center;
    padding: 60px 20px;
}
.small-titles {
    color: #00eaff;
    font-size: 19px;
    letter-spacing: 2px;
}
.main-titles {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40;
    color: #ffffff;
}
.cards-containers {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    max-width: 1000px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}
.cards {
    background-color: #052436;
    width: 100%;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #00eaff55;
    transition: 0.3s;
}

.cards:hover {
    transform: translateY(-5px);
    border-color: #00eaff;
}
.icons {
    width: 60px;       
    height: 60px;
    transition: 0.3s;
}
.icons:hover {
    transform: scale(.9);
    transform: translateY(-8px);
}


.cards h2 {
    font-size: 16px;
    margin: 10px 0;
    color: #00eaff;
}
.cards p {
    font-size: 14px;
    color: #c9d6df;
}
.btns {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #00eaff;
    border: 1px solid #00eaff;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}
.btns:hover {
    background-color: #00eaff;
    color: #031623;
}



/*blog - section 5 */


.blog-section {
    background: #031421;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    cursor: pointer;
}

.section-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.section-title span {
    color: #00bcd4;
}


.blog-container {
    display: flex;
    justify-content: center; 
    gap: 20px;
    
    flex-wrap: wrap; 
}
.blog-card {
    border-radius: 10px;
    overflow: hidden;
    width: 420px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.blog-title {
    font-size: 23px;
    margin-left: 20px;
    text-align: left;
    color: #00bcd4;
    font-style: inherit;
}

.blog-desc {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: left;
    line-height: 1.4;
    color: #ccc;
    font-style: oblique;
}


@media (max-width: 900px) {
    .blog-container {
        gap: 20px;
        padding: 0 20px;
    }

    .blog-card {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .section-title {
        font-size: 26px;
    }

    .blog-container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .blog-card {
        width: 100%;
        max-width: 360px;
    }

    .blog-title {
        font-size: 15px;
    }

    .blog-desc {
        font-size: 12px;
    }
}

/* footer */
footer {
    text-align: center ;
    padding: 40px 20px;
    background-color: #021018;
    color: #88a3af;
    font-size: 14px;
    border-top: 2px solid #033445;
}
footer .footer-content p {
    margin: 14px 0;
}

footer .social-links a {
    color: #d3f2f4;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}
footer .social-links a:hover {
    text-decoration: underline;
}
